.label {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}
.input {
  padding: 0.7rem;
  width: 20rem;
  border: none;
  outline: none;
  margin-top: 0.5rem;
  margin-bottom: 1.3rem;
  border-radius: 3px;
  background-color: rgb(225, 215, 204);
}
.textarea {
  padding: 0.8rem;
  width: 20rem;
  border: none;
  outline: none;
  margin-top: 0.5rem;
  border-radius: 3px;
  background-color: rgb(225, 215, 204);
  line-height: 16px;
  margin-bottom: 1.3rem;
}
